.frontMovie--container {
  display: flex;
  width: 100vw;
  position: relative;
}

.frontMovie__post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 150px;
  max-height: 300px;
  overflow: hidden;
}

.info {
  width: 100px;
  position: absolute;
  height: 50px;
  height: 100px;
  left: 25px;
  color: white;
  z-index: 1;
}

.info h1{
  margin: 0;
  font-size: 2rem;
}

.info p {
  visibility: hidden;
}

.frontMovie__post img {
  width: 100%;
  height: max-content;
}

.frontMovie__post::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000000, #ffffff00, transparent);
}

.frontMovie__post .frontMovie__buttons {
  display: flex;
  position: absolute;
  bottom: 5%;
  margin-left: 25px;
  z-index: 1;
}

.frontMovie__buttons .btn p {
  margin-bottom: 0;
  font-family: sans-serif;
}

.frontMovie__post .frontMovie__buttons button {
  margin-right: 20px;
  font-size: 1rem;
}

/* Tablet */

@media (min-width: 700px) {
  .info{
    top: 100px;
  }

  .frontMovie__post h1 {
    font-size: 3rem;
  }

  .frontMovie--container .frontMovie__buttons .btn p {
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
  }
}

/* Desktop */

@media (min-width: 920px) {
  .frontMovie__post {
    min-height: 300px;
    max-height: 90vh;
  }

  .info {
    
    height: fit-content;
    max-height: 300px;
    border-radius: 15px;
    background-color: #00000059;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 50px;
    width: 533px;
  }

  .info h1 {
    font-size: 4rem;
    margin: 0;
  }

  .info p {
    overflow: scroll;
    visibility: visible;
    font-family: sans-serif;
    margin-bottom: 0;
  }



  .frontMovie--container .frontMovie__buttons .btn {
    margin-right: 40px;
  }

  .frontMovie--container .frontMovie__buttons .btn p {
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 2.5rem;
  }
}
