/* Desktop */

.modal-movie--container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #151315;
  position: relative;
  padding: 0 20px;
  align-items: center;
}

.modal-movie--container .poster {
  width: 133.33px;
  height: 200px;
  border-radius: 5px;
}

.modal-movie--container .backdrop-container {
  position: absolute;
  right: 0;
  height: 100%;
}

.modal-movie--container .backdrop {
  border-radius: 5px;
  height: 100%;
}

.backdrop-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #151315, transparent);
}

.modal-movie--info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1;
  max-width: 900px;
}

.modal-movie--info h1 {
  margin: 0;
  font-size: 2rem;
  color: white;
}

.modal-movie--info p {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.frontMovie__buttons .btn {
  margin-right: 10px;
}

.frontMovie__buttons .btn p {
  font-size: 1rem;
}

.frontMovie__buttons .btn-secondary p {
  color: black;
}

/* Mobile */

@media (max-width: 920px) {
  .modal-movie--container {
    display: flex;
    flex-direction: column;
  }

  .modal-movie--container .poster {
    visibility: hidden;
  }

  .modal-movie--container .backdrop-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
  }

  .backdrop-container img {
    width: 100%;
    height: 100%;
  }

  .backdrop-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #151315, transparent);
  }

  .modal-movie--info {
    display: flex;
    position: absolute;
    top: 20px;
    flex-direction: column;
    padding: 30px;
    z-index: 1;
    width: 100%;
  }

  .modal-movie--info h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
   
  }

  .modal-movie--info p {
    max-height: 30vh;
    overflow: scroll;
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 500;
    color: white;
  }
}
