/* CSS Transition */

.show-enter {
  opacity: 0;
  transform: translateY(20%);
}

.show-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.show-exit {
  opacity: 1;
}

.show-exit-active {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 300ms, transform 300ms;
}

/* Mobile */

.movie-container {
  display: flex;
  width: 100px;
  height: 150px;
  margin-right: 20px;
  position: relative;
}

.movie-container img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
}

.movie-container .info-container {
  position: absolute;
  background: linear-gradient(to top, #000000, #ffffff00, transparent);
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  padding: 175px 25px 0;
  transition: opacity 500ms;
}

.movie-container .info-container h1 {
  font-size: 1.5rem;
  margin: 0;
}

.movie-container .info-container h3 {
  color: gray;
  font-size: 1rem;
  margin: 0;
}

/* Tablet */

@media (min-width: 700px) {
  .movie-container {
    width: 133.33px;
    height: 200px;
  }

  .movie-container img {
    width: 133.33px;
    height: 200px;
  }
}

/* Desktop */

@media (min-width: 920px) {
  .movie-container {
    width: 200px;
    height: 300px;
    transition: all 200ms linear;
  }

  .movie-container img {
    width: 200px;
    height: 300px;
  }

  .movie-container:hover {
    transform: translateY(-10px);
    transition: all 200ms linear;
    
  }

  .movie-container:hover .info-container {
    transition: opacity 500ms;
    opacity: 1;
  }
}
