.movie-container {
  display: inline;
  width: 100px;
  height: 150px;
  margin-right: 20px;
  position: relative;
}

img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
}

.movie-container h1 {
  visibility: hidden;
}

h3 {
  visibility: hidden;
}
