.movie-container {
  display: flex;
  width: 100px;
  height: 150px;
  margin-right: 20px;
  position: relative;
}

.movie-container img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
}

.movie-container h1 {
  visibility: hidden;
}

.movie-container h3 {
  visibility: hidden;
}
