.navbar-container {
  background-image: linear-gradient(to bottom, #000000c9, rgba(0, 77, 122, 0));
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.navbar-container p {
  margin-right: 25px;
  font-family: sans-serif;
  font-size: 1rem;
  color: white;
}

/* Tablet */

@media (min-width: 700px) {
  .navbar-container p {
    font-size: 1.5rem;
  }
}

/* Desktop */

@media (min-width: 700px) {

}
