.section {
  margin-left: 25px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}

/* Desktop */

@media (min-width: 920px) {
  .section {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}