h1 {
  margin: 25px 0 10px;
  font-size: 1rem;
}

.section {
  margin-left: 25px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Desktop */

@media (min-width: 920px) {
  h1 {
    font-size: 2rem;
}
  .section:hover {
  }
}
